backend/node_modules/
frontend/node_modules/

.env.prod
backend/.env.prod
frontend/.env.prod

.vscode/
backend/.vscode
frontend/.vscode

.npmrc

*.container
*.pid

backend/dist/
frontend/dist/
frontend/tsconfig.tsbuildinfo